:root {
	/* Universal Variables*/
	--color-primary: #0092d0;
	--color-secondary: #0099ff;
	--color-accent: #222222;

	--color-text: #1e1e1e;
	--color-text-soft: #545454;
	--color-text-pop: #0099ff;

	/* Nav Menu Variables */
	--nav-desktop-size: 110px;
	--nav-mobile-size: 80px;
}

/* =================================================== */
/* ================ BODY & CONTENT =================== */
/* =================================================== */
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', sans-serif, 'Apple Color Emoji';
}

body #page-content {
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

body #page-content #page-content-body {
	position: relative;
	flex-grow: 1;
}


@media screen and (max-width: 700px) {
	body {
		flex-direction: column;
	}
	body #page-content {
		padding-bottom: 56px;
	}
}