.post-wrapper {
    color: var(--color-text);
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid var(--color-accent);
}

.post-wrapper .header {
    display: flex;
    flex-direction: column;
}

.post-wrapper .header .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.post-wrapper .header .author {
    font-size: 20px;
    padding: 13px 0;
}

.post-wrapper .header .details {
    color: var(--color-text-soft);
}

.post-wrapper .title {
    margin: 30px 0;
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    .post-wrapper .meta {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 380px) {
    .post-wrapper .header .meta {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }
}