.post-wrapper {
    color: var(--color-text);
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-top: 5%;
}

.post-wrapper .title {
    background-color: rgb(18, 18, 18, 0.7);
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-wrapper .title .date {
    color: var(--color-text-soft); 
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.post-wrapper .title .author {
    color: var(--color-text-pop); 
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.post-wrapper .content {
    background-color: rgb(50, 50, 50, 0.6);
    padding: 5%;
}
